header.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #d8dafa;
    padding-top: 80px;

    > nav {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        
        > div.menu-button {
            display: none;
        }

        ul.logo-container {
            list-style-type: none;
            display: flex;
            padding: 0;

            img {
                height: 40px;
            }
        }

        div.switch-language {
            margin-right: 10px;
            div.switch-language > select {
                background-color: #b3b3dd;
                border: 1px solid #19191a;
            }
        }

        a.github-link {
            width: 30px;
            margin-right: 10px;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    .logo {
        flex-grow: 1;
        justify-content: flex-start;
    }
    @media screen and (max-width: 980px) {

        > nav {
            > div.menu-button{
                display: block;
                margin: auto 10px;
                cursor: pointer;
                width: 15px;

                > svg:nth-child(1) {
                    display: unset;
                }
                > svg:nth-child(2) {
                    display: none;
                }

                &.active {
                    > svg:nth-child(1) {
                        display: none;
                    }
                    > svg:nth-child(2) {
                        display: unset;
                    }
                }
            }
        }
    }
}