header.header {
    position: fixed;
    top: 0;
    left: 0;

    > nav {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        
        ul.logo-container {
            list-style-type: none;
            display: flex;

            img {
                height: 40px;
            }
        }

        div.switch-language {
            margin-right: 10px;
            div.switch-language > select {
                background-color: #ffffff;
                border: 1px solid #19191a;
        }

        a.github-link {
            width: 30px;
            margin-right: 10px;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    .logo {
        flex-grow: 1;
        justify-content: flex-start;
    }
}