@use 'base.scss';

header.top {
    display: block;
    text-align: center;
    padding-top: 2rem;
    .spear-description {
        font-size: 1.8rem;
    }
    img {
        padding-top: 2em;
    }
}

section.main {
    padding-bottom: 2rem;
    text-align: center;
    margin: auto auto;
    max-width: calc(80% - 50px);
    div {
        h1 {
            padding-top: 3em;
        }
        h2 {
            padding-top: 4em;
            margin-bottom: 1rem;
        }
        ul {
            width: 500px;
            text-align: left;
            margin: auto;
        }

        pre {
            width: 500px; 
            margin: auto;
            border: 1px solid #B0B0B0;
            border-radius: 4px;

            > code {
                display: block;
                padding: 1em;
                text-align: left;
            }
        }
    }
}
