@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-Regular.ttf)
}

body {
    font-family: 'Open Sans', sans-serif;
}
header {
    display: block;
    text-align: center;
}

header {
    .spear-description {
        font-size: 1.8rem;
    }
}

section.main {
    text-align: center;
    margin: auto auto;
    max-width: 600px;
    div {
        h1 {
            padding-top: 3em;
        }
        h2 {
            padding-top: 4em;
            margin-bottom: 1rem;
        }
    }
}