@use 'base.scss';

header.top {
    display: block;
    text-align: center;
    padding-top: 2rem;
    .spear-description {
        font-size: 1.8rem;
    }
    img {
        padding-top: 2em;
    }
}

section.main {
    padding-bottom: 2rem;
    text-align: center;
    margin: auto auto;
    max-width: calc(80% - 50px);
    div {
        width: 900px;
        margin: auto;

        p {
            text-align: left;
        }

        h1 {
            padding-top: 3em;
        }

        h2 {
            padding-top: 4em;
            margin-bottom: 1rem;
        }

        h3, h4, h5 {
            text-align: left;
        }

        ul {
            width: 900px;
            text-align: left;
            margin: auto;
        }

        p:has(+ a) {
            text-align: center;
        }

        pre {
            width: 900px; 
            margin: auto;
            border: 1px solid #B0B0B0;
            border-radius: 4px;

            > code {
                display: block;
                padding: 1em;
                text-align: left;
                overflow-x: scroll;
            }
        }

        table {
            width: 900px;
            margin: auto;
            border-collapse: collapse;
            border: 1px solid #B0B0B0;
            border-radius: 4px;

            th, td {
                border: 1px solid #B0B0B0;
                padding: 0.5em;
            }
        }
    }
}
